.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* style start from here */

body {
    background-color: black;
}

/* this is navbar style section  */

.navbar {

    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 35px;
    margin-bottom: 20px;
}

.nav-header {
    color: #fb5940;
    font-size: 25px;
}

.unordered-list {
    text-decoration: none;
    display: flex;
    color: #f1efef;
    list-style: none;
    text-decoration: none;
    border: 1px solid rgb(43, 42, 42);
    border-radius: 20px;
    padding: 9px;
    padding-left: 2px;
    margin-top: 30px;
    

}

.nav {
    text-decoration: none;
    color: #edecec;
    margin-left: 60px;
}

.nav-1 {
    text-decoration: none;
    color: #edecec;
    border: 2px;
    background-color: #fb5940;
    border-radius: 46px;
    padding-left: 15px;
    padding-right: 15px;
    width: 200px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 0px;
}

/* this is banner style section  */

.banner {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;

}

.banner-h1 {
    color: white;
    font-size: 70px;
    font-weight: 800px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 30px;
    margin-top: 80px;


}

.shape {
    font-family: 'Miama', sans-serif;
    font-size: 120px;
    padding: 0px;
    font-weight: 300;
}

.banner-btn {
    border: 1px solid #fb5940;
    background-color: #fb5940;
    border-radius: 30px;
    font-size: 16px;
    padding: 10px;
    color: white;
    font-weight: 600;
    padding-left: 25px;
    padding-right: 25px;
}

.banner-btn1 {
    border: 1px solid rgb(149, 147, 147);
    background-color: black;
    border-radius: 30px;
    font-size: 16px;
    padding: 10px;
    color: white;
    font-weight: 600;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 5px;
}

.banner-p {
    color: rgb(143, 140, 140);
    margin-bottom: 30px;
}

/* this is change you habit style section  */
.habit-section {
    width: 100%;
}

.habit {
    display: flex;
    text-align: center;
    margin-left: 200px;
    gap: 70px;

}

.habit p {
    color: rgb(143, 140, 140);
}

.habit h3 {
    color: white;
}

.habit-h1 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    color: white;
}

.habit-p {
    text-align: center;
    color: rgb(143, 140, 140);
    margin-bottom: 50px;
}

.habit-img {
    border-radius: 50%;
}

.run {
    background-color: rgb(30, 30, 30);
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
    border-radius: 15px;
    margin-top: 70px;
}

.run-h1 {
    font-size: 40px;
    font-weight: 800;

    color: white;
}

.run-img {
    width: 350px;
    height: 280px;
    border-radius: 40px;
    padding: 25px;
}

.run-p {
    color: rgb(143, 140, 140);
    margin-bottom: 30px;
}

.run-btn {
    border: 1px solid #fb5940;
    background-color: #fb5940;
    border-radius: 30px;
    font-size: 16px;
    padding: 10px;
    color: white;
    font-weight: 600;
    padding-left: 35px;
    padding-right: 35px;
}

.run-content {
    padding: 15px;
    padding-left: 40px;
}

.training-section {
    margin-left: 150px;
    margin-top: 50px;
}

.training-section>h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;
    margin-top: 60px;
    color: white;
}

.training-section>p {
    color: rgb(143, 140, 140);
    margin-bottom: 60px;
}

.bg-img1 {
    background-image: url('../images/exercise1.jpg');
    background-size: cover;
    height: 200px;
    width: 300px;
}

.bg-img1-p {
    padding-top: 150px;
    padding-left: 20px;
}

.bg-img2 {
    background-image: url('../images/exercise2.png');
    width: 560px;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.bg-img2-p {
    padding-top: 20px;
    padding-left: 20px;
    color: white;
}

.bg-img3 {
    background-image: url('../images/exercise3.png');
    width: 340px;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.bg-img3-p {
    padding-left: 20px;
}

.training-sec1 {
    display: flex;

}

.bg-img4 {
    background-image: url('../images/exercise4.png');
    width: 465px;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.bg-img5 {
    background-image: url('../images/exercise5.jpg');
    width: 340px;
    height: 200px;
    background-size: cover;

}

.bg-img6 {
    background-image: url('../images/exercise6.jpg');
    width: 395px;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.bg-img4-p {
    padding-left: 260px;
    padding-top: 20px;
    color: white;
}

.bg-img5-p {
    padding-top: 130px;
    padding-left: 20px;
    color: white;
}

.bg-img6-p {
    padding-top: 130px;
    padding-left: 20px;
}

.training-sec2 {
    display: flex;
}

td {
    border: 1px solid rgb(66, 66, 66);
}

table {
    border-collapse: collapse;
    margin-top: 50px;
}
.calculator{
    margin-left: 400px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.calculator > h1{
    font-size: 40px;
    color: white;
    font-weight: 800;
}
.calculator > p{
    color: rgb(143, 140, 140);
}
.bmi-section{
    display: flex;
    background-color: #222222;
    padding: 30px;
}
.bmi-chart{
    margin-left: 150px;
}
.bmi-calculate{
    margin-left: 170px;
}
.bmi-chart > h1 {
    font-size: 30px;
    color: white;
    font-weight: 800;
}
.bmi-calculate > h1 {
    font-size: 30px;
    color: white;
    font-weight: 800;
}
.bmi-calculate > p{
    color: rgb(143, 140, 140);
    margin-bottom: 20px;
}
.bmi-btn{
    margin-top: 15px;
    border: 1px solid #fb5940;
    background-color: #fb5940;
    border-radius: 30px;
    font-size: 16px;
    padding: 10px;
    color: white;
    font-weight: 600;
    padding-left: 45px;
    padding-right: 45px;
}
.thead{
    color: white;
    font-weight: 800;
}
.tbody > tr{
    color: rgb(143, 140, 140);
}
td{
    padding: 10px;
    
    padding-left: 20px;
    padding-right: 20px;
}
input{
    padding: 15px;
    background-color: #434343;
    border-radius: 10px;
    border: 1px solid #434343;
    color: rgb(221, 220, 220);
    font-size: medium;
    margin-bottom: 10px;
    
}
.input-1{
    width: 282px;
}
.input-2{
    width: 600px;
    margin-bottom: 25px;
    padding: 15px;
    background-color: #434343;
    border-radius: 10px;
    border: 1px solid #434343;
    color: rgb(221, 220, 220);
    font-size: medium;
    margin-bottom: 10px;;
}

select{
    padding: 15px;
    background-color: #434343;
    border-radius: 10px;
    border: 1px solid #434343;
    color: rgb(126, 125, 125);
    font-size: medium;
    margin-bottom: 10px;
    width: 313px;
    
}
.select-2{
    width: 630px;
}

.team{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.team > h1{
    font-size: 40px;
    font-weight: 800;
    color: white;
}
.team > p{
    color: rgb(143, 140, 140);
}

.trainer-section{
    background-color: #252525;
    margin-right: 200px;
    margin-left: 200px;
    border-radius: 10px;
}

.trainers-name{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    padding: 25px;
    padding-right: 10px;
    gap: 25px 0px;
    
    
}

.trainer1{
    background-image: url('../images/trainer1.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 330px;
    height: 275px;
    background-position: center;
    border-radius: 10px;
}
.trainer1 > h3{
    padding-top: 200px;
    color: white;
    font-weight: 800;
    padding-left: 15px;
    margin-bottom: 0px;
    
}
.trainer1 > p{
    padding-left: 15px;
    margin-top: 0px;
    color: rgb(143, 140, 140);
}
.trainer2{
    background-image: url('../images/trainer2.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 330px;
    height: 275px;
    background-position: center;
    border-radius: 10px;
    
}
.trainer2 > h3{
    padding-top: 200px;
    color: white;
    font-weight: 800;
    padding-left: 15px;
    margin-bottom: 0px;
    
}
.trainer2 > p{
    padding-left: 15px;
    margin-top: 0px;
    color: rgb(143, 140, 140);
}
.trainer3{
    background-image: url('../images/trainer3.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 330px;
    height: 275px;
    background-position: center;
    border-radius: 10px;
}
.trainer3 > h3{
    padding-top: 200px;
    color: white;
    font-weight: 800;
    padding-left: 15px;
    margin-bottom: 0px;
    
}
.trainer3 > p{
    padding-left: 15px;
    margin-top: 0px;
    color: rgb(143, 140, 140);
}
.trainer4{
    background-image: url('../images/trainer4.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 330px;
    height: 275px;
    background-position: center;
    border-radius: 10px;
}
.trainer4 > h3{
    padding-top: 200px;
    color: white;
    font-weight: 800;
    padding-left: 15px;
    margin-bottom: 0px;
    
}
.trainer4 > p{
    padding-left: 15px;
    margin-top: 0px;
    color: rgb(143, 140, 140);
}
.trainer5{
    background-image: url('../images/trainer5.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 330px;
    height: 275px;
    background-position: center;
    border-radius: 10px;
}
.trainer5 > h3{
    padding-top: 200px;
    color: white;
    font-weight: 800;
    padding-left: 15px;
    margin-bottom: 0px;
    
}
.trainer5 > p{
    padding-left: 15px;
    margin-top: 0px;
    color: rgb(143, 140, 140);
}
.trainer6{
    background-image: url('../images/trainer6.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 330px;
    height: 275px;
    background-position: center;
    border-radius: 10px;
}
.trainer6 > h3{
    padding-top: 200px;
    color: white;
    font-weight: 800;
    padding-left: 15px;
    margin-bottom: 0px;
    
}
.trainer6 > p{
    padding-left: 15px;
    margin-top: 0px;
    color: rgb(143, 140, 140);
}

.footer-section{
    background-color: #252525;
    display: flex;
    margin-top: 60px;
    

    
}

.footer-section > div{
    margin-left: 170px;
    margin-top: 50px;
    margin-bottom: 50px;
}
ul{
    color: white;
    
}
.list-itemm{
    list-style-type: none;
    color: rgb(143, 140, 140);
    margin-top: 15px;
}
.get-started{
    font-size: 25px;
    font-weight: 700;
}
.footer-header > h1{
    font-size: 50px;
    color: #fb5940;
    margin-bottom: 0px;
    margin-top: 0px;
}
.footer-header > p{
    color: rgb(143, 140, 140);
    font-size: medium;
    
}
.footer{
    background-color: #252525;
}
.rights{
    border-top: 1px solid rgb(143, 140, 140);
    margin-left: 180px;
    margin-right: 200px;
}
.rights > p{
    color: rgb(143, 140, 140);
    text-align: center;
    padding-bottom: 20px;
    margin-top: 20px;
}

